@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h3>MCV Kamp Tablo</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
    }

</table>
<a href="/Category/AddCategory/" class="btn btn-info">YENİ KATEGORİ</a>
<button class="btn btn-warning">KATEGORİ LİSTESİ</button>
<button class="btn btn-danger">KATEGORİ AÇIKLAMALARI</button>
