
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h3>MCV Kamp Tablo</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
        <th>GÜNCELLE</th>
    </tr>
    <tr>
        <td>1</td>
        <td>KİTAP</td>
        <td>KİTAP KATEGORİSİ</td>
        <td>AKTİF</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-info">YENİ KATEGORİ</button>
<button class="btn btn-warning">KATEGORİ LİSTESİ</button>
<button class="btn btn-danger">KATEGORİ AÇIKLAMALARI</button>
